* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
h1 {
  font-size: 72px;
  font-weight: 400;
  text-transform: uppercase;
}
h2 {
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
}
h3 {
  font-weight: 400;
  font-size: 18px;
}
button {
  text-transform: uppercase;
  border: none;
}
div {
  display: block;
}
hr {
  width: 30px;
  color: black;
}
.main_header {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 999;
}
.main_header .header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.main_header .header_content img {
  padding: 15px;
}
.main_header .header_content li {
  display: inline;
}
.main_header .header_content li a {
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  padding: 20px 15px;
  color: black;
}
.main_header .header_content li a:hover {
  color: #ed5f5e;
  transition: 1s;
}
.main_header .header_content li i {
  display: none;
}
.main_container .home_slider {
  background-color: gray;
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.main_container .home_slider .slide_1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://www.free-css.com/assets/files/free-css-templates/preview/page271/n-agency/assets/img/slider/s1.jpg);
  animation-name: bg_slide_1;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
}
.main_container .home_slider .slide_1 div {
  text-align: center;
  color: white;
  line-height: 1.5;
}
.main_container .home_slider .slide_1 div h2 {
  letter-spacing: 3px;
  font-size: 26px;
}
.main_container .home_slider .slide_1 div button {
  padding: 10px 15px;
  background-color: white;
  position: relative;
  overflow: hidden;
  margin: 30px;
}
.main_container .home_slider .slide_1 div button:hover .child_content {
  transform: translate(0, 0);
}
.main_container .home_slider .slide_1 div button .child_content {
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.452);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -100%);
  transition-duration: 0.2s;
}
@keyframes bg_slide_1 {
  0% {
    top: 0;
    left: -100%;
  }
  20% {
    top: 0;
    left: -100%;
  }
  50% {
    top: 0;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}
.main_container .home_slider .slide_2 {
  position: absolute;
  display: flex;
  align-items: center;
  background-image: url(https://www.free-css.com/assets/files/free-css-templates/preview/page271/n-agency/assets/img/slider/s3.jpg);
  animation-name: bg_slide_2;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
}
.main_container .home_slider .slide_2 div {
  max-width: 900px;
  margin-left: 300px;
  line-height: 1.5;
}
.main_container .home_slider .slide_2 div h2 {
  letter-spacing: 3px;
  font-size: 26px;
}
.main_container .home_slider .slide_2 div p {
  max-width: 600px;
}
.main_container .home_slider .slide_2 div button {
  padding: 10px 15px;
  color: white;
  background-color: black;
  position: relative;
  overflow: hidden;
  margin: 30px 0;
}
.main_container .home_slider .slide_2 div button:hover .child_content {
  transform: translate(0, 0);
}
.main_container .home_slider .slide_2 div button .child_content {
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.452);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -100%);
  transition-duration: 0.2s;
}
@keyframes bg_slide_2 {
  0% {
    top: 0;
    left: 100%;
  }
  50% {
    top: 0;
    left: 100%;
  }
  80% {
    top: 0;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}
.main_container .home_slider .slide_3 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://www.free-css.com/assets/files/free-css-templates/preview/page271/n-agency/assets/img/slider/s2.jpg);
  animation-name: bg_slide_3;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
.main_container .home_slider .slide_3 div {
  text-align: center;
  color: white;
  max-width: 900px;
  line-height: 1.5;
}
.main_container .home_slider .slide_3 div h1 {
  font-weight: normal;
}
.main_container .home_slider .slide_3 div h2 {
  letter-spacing: 3px;
  font-size: 26px;
}
.main_container .home_slider .slide_3 div p {
  max-width: 600px;
}
.main_container .home_slider .slide_3 div button {
  padding: 10px 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  position: relative;
  overflow: hidden;
  margin: 30px 0;
}
.main_container .home_slider .slide_3 div button:hover .child_content {
  transform: translate(0, 0);
}
.main_container .home_slider .slide_3 div button .child_content {
  width: 100%;
  height: 100%;
  color: black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -100%);
  transition-duration: 0.2s;
}
@keyframes bg_slide_3 {
  0% {
    z-index: 5;
    top: 0;
    left: 0;
  }
  20% {
    z-index: 5;
    top: 0;
    left: 0;
  }
  79% {
    z-index: 5;
    top: 0;
    left: 0;
  }
  80% {
    z-index: 16;
    top: 100%;
    left: 0;
  }
  100% {
    z-index: 16;
    top: 0;
    left: 0;
  }
}
.main_container .service {
  max-width: 1200px;
  margin: 100px auto;
}
.main_container .service h2 {
  text-align: center;
}
.main_container .service hr {
  text-align: center;
  margin: 20px auto;
}
.main_container .service > p {
  margin: auto;
  max-width: 800px;
  color: gray;
  text-align: center;
  line-height: 2;
}
.main_container .service .service_card_list {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 50px;
}
.main_container .service .service_card_list > div {
  background-color: #f8f8f8;
  padding: 20px;
}
.main_container .service .service_card_list > div i {
  color: white;
  background-color: #ed5f5e;
  padding: 15px;
  font-size: 20px;
  margin: 30px 0;
}
.main_container .service .service_card_list > div h3 {
  line-height: 36px;
}
.main_container .service .service_card_list > div p {
  font-size: 1kpx;
  line-height: 1.5;
  color: gray;
}
.main_container .portfolio {
  background-color: #f8f8f8;
  padding: 100px 0;
}
.main_container .portfolio h2 {
  text-align: center;
}
.main_container .portfolio hr {
  margin: 20px auto;
}
.main_container .portfolio ul {
  text-align: center;
}
.main_container .portfolio ul li {
  display: inline;
  line-height: 3;
}
.main_container .portfolio ul li a {
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  margin: 5px;
  background-color: white;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}
.main_container .portfolio ul li a:hover {
  color: #ed5f5e;
  transition: 1s;
}
.main_container .portfolio .portfolio_card_list {
  padding: 20px;
  max-width: 1200px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.main_container .portfolio .portfolio_card_list > div {
  position: relative;
  overflow: hidden;
}
.main_container .portfolio .portfolio_card_list > div:hover .child {
  transform: translate(0, 0);
}
.main_container .portfolio .portfolio_card_list > div img {
  width: 100%;
}
.main_container .portfolio .portfolio_card_list > div .child {
  width: 100%;
  height: 100%;
  background-color: #ed5e5ee1;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transform: translate(0, -100%);
  transition-duration: 0.3s;
}
.main_container .portfolio .portfolio_card_list > div .child div {
  text-align: center;
}
.main_container .portfolio .portfolio_card_list > div .child div h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.main_container .help {
  padding: 20px;
  max-width: 1200px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.main_container .help > div {
  padding: 30px;
}
.main_container .help h2 {
  font-size: 24px;
  padding-top: 30px;
}
.main_container .help hr {
  margin: 20px 0;
}
.main_container .help p {
  color: gray;
}
.main_container .help button {
  position: relative;
  padding: 10px 15px;
  color: white;
  background-color: black;
  margin-top: 30px;
  overflow: hidden;
}
.main_container .help button:hover .childs {
  transform: translate(0, 100%);
}
.main_container .help button .childs {
  background-color: rgba(128, 128, 128, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  transition-duration: 0.2s;
}
.main_container .video {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_container .video::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.2);
}
.main_container .video div {
  position: relative;
  color: white;
  text-align: center;
  z-index: 9;
}
.main_container .video div hr {
  margin: 20px auto;
}
.main_container .video div p {
  letter-spacing: 3px;
}
.main_container .video video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: -999999;
  top: 0;
  left: 0;
}
.main_container .team {
  max-width: 1200px;
  margin: 100px auto;
}
.main_container .team h2 {
  text-align: center;
}
.main_container .team hr {
  text-align: center;
  margin: 20px auto;
}
.main_container .team > p {
  margin: auto;
  max-width: 800px;
  color: gray;
  text-align: center;
  line-height: 2;
}
.main_container .team .team_card_list {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 50px;
}
.main_container .team .team_card_list > div {
  background-color: #f8f8f8;
}
.main_container .team .team_card_list > div:hover .parent .child {
  transform: translate(0, 0);
}
.main_container .team .team_card_list > div:hover h4 {
  color: #ed5f5e;
}
.main_container .team .team_card_list > div .parent {
  position: relative;
  overflow: hidden;
}
.main_container .team .team_card_list > div .parent img {
  width: 100%;
}
.main_container .team .team_card_list > div .parent .child {
  background-color: #ed5e5ee1;
  position: absolute;
  width: 100%;
  height: 99%;
  top: 0;
  left: 0;
  transform: translate(0, -100%);
  transition-duration: 0.3s;
}
.main_container .team .team_card_list > div .parent div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_container .team .team_card_list > div .parent div i {
  width: 30px;
  height: 30px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  color: white;
}
.main_container .team .team_card_list > div .parent div i:hover {
  background-color: white;
  color: #ed5f5e;
  transition-duration: 0.4s;
}
.main_container .team .team_card_list > div h4 {
  line-height: 24px;
  color: gray;
  text-align: center;
  margin-top: 20px;
  font-weight: lighter;
}
.main_container .team .team_card_list > div p {
  font-size: 12px;
  color: #c4c4c4;
  text-align: center;
  margin-bottom: 20px;
}
.main_container .skills {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.main_container .skills > div {
  padding: 20px;
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.main_container .skills > div > div > hr {
  margin: 20px 0;
}
.main_container .skills > div > div .table > div.title {
  display: flex;
  justify-content: space-between;
}
.main_container .skills > div > div .table > div.loading {
  width: 100%;
  background-color: #ececec;
}
.main_container .skills > div > div .table > div.loading hr {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 2px;
  border: none;
  background-color: #ed5e5ee1;
}
.main_container .skills > div .choose .thead {
  color: white;
  background-color: #ed5e5ee1;
}
.main_container .skills > div .choose > p {
  padding: 20px 30px;
  background-color: white;
}
.main_container .skills > div .choose div {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  border-top: 1px solid #e6e6e6;
}
.main_container .icons {
  max-width: 1200px;
  padding: 20px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.main_container .icons div {
  display: inline-block;
}
.main_container .icons .logo {
  background-color: #ed5f5e;
}
.main_container .icons .logo i {
  color: white;
  padding: 10px;
  font-size: 24px;
}
.main_container .icons .number {
  font-size: 36px;
  padding: 0 20px;
  color: gray;
  font-weight: bolder;
}
.main_container .testimonials {
  background-image: url(https://www.free-css.com/assets/files/free-css-templates/preview/page271/n-agency/assets/img/testimonial-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_container .testimonials > div {
  max-width: 650px;
  text-align: center;
  padding: 100px 0;
}
.main_container .testimonials > div hr {
  margin: 20px auto;
}
.main_container .testimonials > div p {
  line-height: 2;
  font-weight: bolder;
}
.main_container .testimonials > div div {
  padding: 30px;
}
.main_container .testimonials > div div img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid white;
}
.main_container .testimonials > div div i {
  background: white;
  padding: 10px 15px;
  margin: 0 5px;
  color: gray;
  font-weight: bolder;
}
.main_container .testimonials > div div i:hover {
  background-color: #ed5f5e;
  color: white;
  transition-duration: 1s;
}
.main_container .blog {
  max-width: 1200px;
  margin: 100px auto;
}
.main_container .blog > h2 {
  text-align: center;
}
.main_container .blog hr {
  margin: 20px auto;
}
.main_container .blog > p {
  margin-bottom: 50px;
  text-align: center;
}
.main_container .blog > div {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.main_container .blog > div img {
  width: 100%;
}
.main_container .blog > div .calendar {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  border-bottom: 1px solid #e6e6e6;
  color: gray;
  font-size: 12px;
  background-color: #f8f8f8;
}
.main_container .blog > div .calendar .right:hover {
  color: #ed5f5e;
  transition-duration: 0.4s;
}
.main_container .blog > div .content {
  padding: 15px 25px 25px 25px;
  background-color: #f8f8f8;
}
.main_container .blog > div .content h3 {
  font-weight: lighter;
  color: #5d5d5d;
  margin-bottom: 20px;
}
.main_container .blog > div .content h3:hover {
  color: #ed5f5e;
  transition-duration: 0.4s;
}
.main_container .blog > div .content p {
  color: #767676;
  margin-bottom: 30px;
}
.main_container .blog > div .content h4 {
  font-weight: lighter;
  color: #ed5f5e;
}
.main_container .blog h5 {
  text-align: center;
  margin: 30px 50px;
}
.main_container .blog h5 i {
  padding: 7px 15px;
  color: gray;
  background-color: black;
  margin: 5px;
  font-weight: bolder;
  font-size: 24px;
}
.main_container .blog h5 i:hover {
  color: white;
  background-color: #ed5f5e;
  transition-duration: 0.4s;
}
.main_container .clients {
  background-color: #f8f8f8;
  padding: 100px;
  text-align: center;
}
.main_container .clients hr {
  margin: 20px auto;
}
.main_container .clients .logos {
  padding: 20px;
  max-width: 1200px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
}
.main_container .contact {
  margin: 100px auto;
  max-width: 1200px;
}
.main_container .contact h2 {
  text-align: center;
  color: gray;
  font-weight: lighter;
}
.main_container .contact hr {
  margin: 20px auto;
}
.main_container .contact > p {
  text-align: center;
  color: #acacac;
  max-width: 800px;
  margin: auto;
  line-height: 1.5;
  font-size: 15px;
}
.main_container .contact > div {
  padding: 20px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-top: 50px;
}
.main_container .contact > div .left_bar {
  line-height: 2;
}
.main_container .contact > div .left_bar .input {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.main_container .contact > div .left_bar .input input {
  padding: 10px;
  color: gray;
  border: none;
  background-color: #f8f8f8;
}
.main_container .contact > div .left_bar .textarea textarea {
  color: gray;
  background-color: #f8f8f8;
  width: 97%;
  border: none;
  margin: 20px 0;
  padding: 10px;
}
.main_container .contact > div .left_bar button {
  position: relative;
  padding: 10px 15px;
  color: white;
  background-color: red;
  overflow: hidden;
}
.main_container .contact > div .left_bar button:hover .childs {
  transform: translate(0, 100%);
}
.main_container .contact > div .left_bar button .childs {
  background-color: rgba(128, 128, 128, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  transition-duration: 0.1s;
}
.main_container .contact > div .right_bar {
  color: gray;
}
.main_container .contact > div .right_bar > p {
  text-align: left;
  margin-bottom: 30px;
}
.main_container .contact > div .right_bar > div {
  padding: 20px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 60px auto;
}
.main_container .contact > div .right_bar > div .icon {
  width: 40px;
  height: 40px;
  background-color: #ed5f5e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_container .contact > div .right_bar > div .icon i {
  color: white;
}
footer {
  margin: 100px 0;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: gray;
  background-color: black;
}
footer > div div {
  display: inline-flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}
footer > div div:hover {
  background-color: #ed5f5e;
  color: white;
  transition-duration: 0.3s;
}
@media screen and (max-width: 1000px) {
  .main_header .header_content li a {
    display: none;
  }
  .main_header .header_content li i {
    display: inline;
  }
  .main_container .service .service_card_list {
    grid-template-columns: repeat(2, 1fr);
    max-width: 800px;
    margin: 50px auto;
  }
  .main_container .portfolio .portfolio_card_list {
    grid-template-columns: repeat(2, 1fr);
    max-width: 700px;
  }
  .main_container .help {
    grid-template-columns: 1fr;
    max-width: 800px;
  }
  .main_container .team .team_card_list {
    grid-template-columns: repeat(2, 1fr);
    max-width: 700px;
    margin: auto;
  }
  .main_container .skills > div {
    grid-template-columns: 1fr;
    max-width: 800px;
  }
  .main_container .icons {
    max-width: 700px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media screen and (max-width: 700px) {
  .main_container .service .service_card_list {
    grid-template-columns: 1fr;
    max-width: 600px;
    margin: 50px auto;
  }
  .main_container .contact > div {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 550px) {
  .main_container .portfolio .portfolio_card_list {
    grid-template-columns: 1fr;
    max-width: 500px;
  }
  .main_container .team .team_card_list {
    grid-template-columns: 1fr;
  }
  .main_container .icons {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
