* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
h1 {
  font-size: 72px;
  font-weight: 400;
  text-transform: uppercase;
}
h2 {
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
}
h3 {
  font-weight: 400;
  font-size: 18px;
}
button {
  text-transform: uppercase;
  border: none;
}
div {
  display: block;
}
hr {
  width: 30px;
  color: black;
}
.main_header {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 999;
}
.main_header .header_content {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.main_header .header_content img {
  padding: 15px;
}
.main_header .header_content li {
  display: inline;
}
.main_header .header_content li a {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  color: black;
}
.main_header .header_content li a:hover {
  color: #ed5f5e;
  transition: 1s;
}
.main_container .home {
  background-image: url(https://www.free-css.com/assets/files/free-css-templates/preview/page271/n-agency/assets/img/slider/s1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_container .home div {
  text-align: center;
  color: white;
  line-height: 1.5;
}
.main_container .home div h2 {
  letter-spacing: 3px;
  font-size: 26px;
}
.main_container .home div button {
  padding: 10px 15px;
  background-color: white;
  position: relative;
  overflow: hidden;
  margin: 30px;
}
.main_container .home div button:hover .child_content {
  transform: translate(0, 0);
}
.main_container .home div button .child_content {
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.452);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -100%);
  transition-duration: 0.2s;
}
.main_container .service {
  max-width: 1200px;
  margin: 100px auto;
}
.main_container .service h2 {
  text-align: center;
}
.main_container .service hr {
  text-align: center;
  margin: 20px auto;
}
.main_container .service > p {
  margin: auto;
  width: 800px;
  color: gray;
  text-align: center;
  line-height: 2;
}
.main_container .service .service_card_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 50px;
}
.main_container .service .service_card_list > div {
  background-color: #f8f8f8;
  padding: 20px;
}
.main_container .service .service_card_list > div i {
  color: white;
  background-color: #ed5f5e;
  padding: 15px;
  font-size: 20px;
  margin: 30px 0;
}
.main_container .service .service_card_list > div h3 {
  line-height: 36px;
}
.main_container .service .service_card_list > div p {
  font-size: 1kpx;
  line-height: 1.5;
  color: gray;
}
.main_container .portfolio {
  background-color: #f8f8f8;
  padding: 100px 0;
}
.main_container .portfolio h2 {
  text-align: center;
}
.main_container .portfolio hr {
  margin: 20px auto;
}
.main_container .portfolio ul {
  text-align: center;
}
.main_container .portfolio ul li {
  display: inline;
}
.main_container .portfolio ul li a {
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  margin: 5px;
  background-color: white;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}
.main_container .portfolio ul li a:hover {
  color: #ed5f5e;
  transition: 1s;
}
.main_container .portfolio .portfolio_card_list {
  max-width: 1200px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.main_container .portfolio .portfolio_card_list > div {
  position: relative;
  overflow: hidden;
}
.main_container .portfolio .portfolio_card_list > div:hover .child {
  transform: translate(0, 0);
}
.main_container .portfolio .portfolio_card_list > div img {
  width: 100%;
}
.main_container .portfolio .portfolio_card_list > div .child {
  width: 100%;
  height: 100%;
  background-color: #ed5e5ee1;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transform: translate(0, -100%);
  transition-duration: 0.3s;
}
.main_container .portfolio .portfolio_card_list > div .child div {
  text-align: center;
}
.main_container .portfolio .portfolio_card_list > div .child div h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.main_container .help {
  max-width: 1200px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.main_container .help h2 {
  font-size: 24px;
  padding-top: 30px;
}
.main_container .help hr {
  margin: 20px 0;
}
.main_container .help p {
  color: gray;
}
.main_container .help .btn {
  position: relative;
  padding: 10px 15px;
  color: white;
  background-color: black;
  margin-top: 30px;
  overflow: hidden;
}
.main_container .help .btn:hover .childs {
  transform: translate(0, 100%);
}
.main_container .help .btn .childs {
  background-color: rgba(128, 128, 128, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  transition-duration: 0.2s;
}
.main_container .video {
  width: 100%;
  height: 100vh;
}
.main_container .team {
  max-width: 1200px;
  margin: 100px auto;
}
.main_container .team h2 {
  text-align: center;
}
.main_container .team hr {
  text-align: center;
  margin: 20px auto;
}
.main_container .team > p {
  margin: auto;
  width: 800px;
  color: gray;
  text-align: center;
  line-height: 2;
}
.main_container .team .team_card_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 50px;
}
.main_container .team .team_card_list > div {
  background-color: #f8f8f8;
}
.main_container .team .team_card_list > div img {
  width: 100%;
}
.main_container .team .team_card_list > div h4 {
  line-height: 24px;
  color: gray;
  text-align: center;
  margin-top: 20px;
}
.main_container .team .team_card_list > div p {
  font-size: 12px;
  color: #c4c4c4;
  text-align: center;
  margin-bottom: 20px;
}
